<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div id="content">
        <%- include('partials/drivers') %>
        <%- include('partials/constructors') %>
        <%- include('partials/races') %>
        <%- include('partials/sprints') %>
    </div>
    

    <script src="/js/main.js"></script>
</body>
</html>