<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Stats</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo.png">
</head>
<body>
    <div id="intro" class="intro">
        <h1 class="intro-title"><span style="color: var(--f1)">F1</span>Stats</h1>
        <div class="loading-bar-container">
            <div class="loading-bar">
                <img src="/images/car.svg" alt="Car" class="car-svg">
            </div>
        </div>
    </div>

    <%- include('partials/navbar') %>

    <div id="content">
        <%- include('partials/drivers') %>
        <%- include('partials/constructors') %>
        <%- include('partials/races') %>
        <%- include('partials/sprints') %>
        <%- include('partials/qualifying') %>
    </div>

    <footer>
        <p style="margin-bottom: 5px">2025 data will be made available upon the start of the 2025 season.</p>
        <p style="font-weight: 700;">Created by Andrew Do 2025 <a href="https://www.linkedin.com/in/andrew-do-8a268a268/"><img src="/images/linkedin.svg" alt="LinkedIn"></a></p>
    </footer>
    

    <script src="/js/main.js"></script>
    <script src="/js/intro.js"></script>
</body>
</html>